<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724574758755-aa96tj3est93c0se04aqjfrf39sudvvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724574758755-aa96tj3est93c0se04aqjfrf39sudvvi</string>
	<key>API_KEY</key>
	<string>AIzaSyA3rmPDIwldzo8SlzeibOgwTSVnFMhH12A</string>
	<key>GCM_SENDER_ID</key>
	<string>724574758755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.pachauri.Jeopardy--The-Complete-Saga</string>
	<key>PROJECT_ID</key>
	<string>jeopardy-app-category-database</string>
	<key>STORAGE_BUCKET</key>
	<string>jeopardy-app-category-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724574758755:ios:2cdc6d5cf2c66bfc3ad556</string>
	<key>DATABASE_URL</key>
	<string>https://jeopardy-app-category-database.firebaseio.com</string>
</dict>
</plist>